body,
html {
  overflow: hidden;
  background-image: url("./730189.jpg");
  min-height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#container {
  justify-content: center;
  /* overflow: hidden; */
  position: relative;
}

#test {
  color: white;
}

#picture {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}
