body {
  background: cornflowerblue;
  overflow: hidden;
  background-image: url("./730189.jpg");
}

#picture {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}
